### Fundamentals

In [2]:
print('Hello World')

Hello World

In [3]:
print("Hello World")

Hello World

In [6]:
x =100
print (x)

100

In [12]:
x= 10
y=10
z= x+y
print(z)

20

In [13]:
type(x)

int

In [14]:
print(type(x))

<class 'int'>

## Note 
- class is a collection of methods / functions 
- in Python, int is also a class
- Float is also a class

## String

In [19]:
z= 'Hello World'
print (z)

Hello World

In [20]:
print (type(z))

<class 'str'>

## Boolean

In [21]:
p = True
p

True

In [22]:
print (type(p))

<class 'bool'>

In [23]:
import sys
sys.getsizeof(x)

28

## Note
- sys is a python package 
- sys.getsizeof('variable') shows the size of variable
- float requires less bytes to operate
- size of the data is not fixed for any variable

## Power

In [30]:
x= 12343 ** 13
y= 1234123129319 ** 14

print('value of x:')
print (x)
print('value of y:')
print (y)

print('size of x:')
sys.getsizeof(x)

value of x:
154336794846056354453410495400853226959074023973645143
value of y:
19011609447895044075408817212659722481520687183133640375750069546235946720489848383808507192860798412713870313820179799758301961932820633712325532230447448749993558075921
size of x:

48

In [31]:
sys.getsizeof(y)

100

## Operations
### Arithmetic operations

- +, - ,/ ,// and %

In [46]:
x= 19
y=5
z= x//y                    # Floor division --> //
print(z)

3

In [49]:
x= 19
y=5
z= x/y                    #  division --> /
print(z)

3.8

In [52]:
x= 12
y=5
z= x%y                    #  Modulus operator --> %
print(z)                  #  Remainder will be printed, not the quotionent

2

In [53]:
x= 19
y=5
z= x**y                    #  power --> **
print(z)

2476099

In [54]:
x= 19
y=5
z= x*y                    #  multiply --> *
print(z)

95

### Taking user input

In [68]:
x= int(input('Enter a number : '))
type(x)

Enter a number : 41

int

In [67]:
y = float(input('Enter a number: '))
type(y)

Enter a number: 23

float

In [2]:
x= int(input('Enter a number : '))
y = int(input('Enter a number: '))
z = float(x**y)
print (z)

Enter a number : 2
Enter a number: 4
16.0

### Relational operations
- <, >, <=,>=, !=,==

In [11]:
x= 10
y= 20
z= x<y
print(z)

True

In [6]:
x==y

False

In [7]:
x!=y

True

In [8]:
x<=y

True

In [9]:
x>=y

False

In [10]:
x>y

False

### Logical operators
- and , or, not

In [13]:
x=10
y=10
z=23
p =x<y and y!=z
p

False

In [5]:
x=10
y=10
z=23
p =x<y or y!=z
p

True

In [12]:
x=10
y=10
z=23

p =x=y and y!=z
p

True

In [13]:
r = not p
r

False

In [2]:
x=10
y=10
z=23
p = (x<y) or (x=x+1)              # logical operations cannot be performed in between boolean and integer value
p

SyntaxError: invalid syntax (<ipython-input-2-a638b2a902ba>, line 4)

0 1
0 1
1 1
1 1

### Strings in python

In [26]:
a = 'hello, world'
print (a[7])                         # simple string array

w

In [27]:
a = 'hello, world'
print (a[0:9])                       # printing string using ranged array

hello, wo

In [4]:
a = 'hello, world | workd ,po'
print (a.strip())

hello, world | workd ,po

In [9]:
b= 'hello, world'
print (len(a))

12

In [14]:
b= 'Hello, world'
print (a.lower())

hello, world

In [15]:
print (a.upper())

HELLO, WORLD

In [16]:
print (a.replace("h","J"))

Hello, world

In [32]:
a = 'hello, world | workd ,po'
print (a.split(","))
a.split('|')

['hello', ' world | workd ', 'po']

['hello, world ', ' workd ,po']

In [39]:
x =100
y =12
a = "value of x : {}"
print (a.format(x))
b = "value of y : {}"
print (b.format(y))

value of x : 100
value of y : 12

In [34]:
x =100
y =12
a = "value are : y= {1} and x={0}"
print (a.format(x,y))
c =x*y
print(c)

value are : y= 12 and x=100
1200

In [54]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

## Math package

In [51]:
import math                                  # collection of all mathematical functions such as pi , sqrt..etc..

In [53]:
math.sqrt(9)

3.0

In [56]:
math.sqrt(74)

8.602325267042627

In [66]:
print ('area of circle')
r= int(input('Enter radius of circle: '))
x= math.pi
y= r**r
z= x*y
a='area of circle is : {}'
print (a.format(z))

area of circle
Enter radius of circle: 2
area of circle is : 12.566370614359172

In [70]:
print ('area of triangle')
l= int(input('Enter height of triangle: '))
b = int(input('Enter base of traingle: '))
z= (l*b)/2
a='area of triangle is : {}'
print (a.format(z))

area of triangle
Enter height of triangle: 3
Enter base of traingle: 5
area of triangle is : 7.5

In [77]:
print ('area of trapezoid')
l= int(input('Enter base 1 of trapezoid: '))
b = int(input('Enter base 2 of trapezoid: '))
h = int(input('Enter height of trapezoid: '))
z= (l+b)*h/2
print ('base 1: ', l, 'base 2: ', b,'height:',h, 'Area of trapezoid is: ',z, sep='\n') 
# sep parameter --> seperates same line of code into different lines
# sep paramater --> have space as its default attribute.

area of trapezoid
Enter base 1 of trapezoid: 2
Enter base 2 of trapezoid: 3
Enter height of trapezoid: 4
base 1:
2
base 2:
3
height:
4
Area of trapezoid is:
10.0

In [73]:
print ('base 1: ', l , end=' ')              # end parameter --> combines different line of code into single line of output
print ('base 2: ', b, end=' ')
print ('height:', h, end=' ') 
print ('Area of trapezoid is: ',z)

base 1:  2 base 2:  3 height: 4 Area of trapezoid is:  10.0

In [84]:
a= 101/3                                    # format function --> print combination of string and integers in python
b= 500/3
print ('value of a is : {0: .2f} and value of b is : {1: 0.5f}'.format(a,b))

value of a is :  33.67 and value of b is :  166.66667

## Utility functions

In [1]:
# max(), min(), len()