In [1]:
# find() function displays index position from give set of characters
st = 'hello world'
print(st.find('o'))

4

In [1]:
# find('ar') function can also find strings too. 
# but here the find ('ar') function find the very first occurence of first chacarter 'a' 
# and then check wether 'a' is followed by 'r' 
# otherwise it returns -1 
# even if find('x') element is not present in the given input then find() returns -1

st= 'hello how are you?'
i= print(st.find('ar'))
print(i)

st.find('i')

10
None

-1

In [9]:
#using find() only within the range of indices
st='calender of feb. cal of march'
i= st.find('cal', 10, 20)
print(i)

i= st.find('cal', 10 ,15)  # since 'cal' does not fall under the given range , find() returns -1
print(i)

i= st.find('mar', 10, 30)
print(i)

17
-1
24

In [10]:
# Strip() function--> removes extra characters or blank spaces only in front and back from the given string

st= "    krishna kumar"
print(st)       # original string , not changed
st1= st.strip() # by default, strip() removes additional blank spaces in front and back 
print(st1)      # changed string

    krishna kumar
krishna kumar

In [15]:
# Strip() function also removes mentioned characters and special characters in similar fashion
st ="@@@###krishna kumar@@@###"
st2 = st.strip("@#")            #give the required character that has to removed
print(st2)

krishna kumar

In [16]:
st ="@@@hello how are you ?###"
st2 = st.strip(" @#")
print(st2)

hello how are you ?

In [17]:
st =" @@@###kris###hna kumar@@@###"
st2 = st.strip(" @#")
print(st2)

kris###hna kumar

In [18]:
# Startswith() function 
# s.startswith(prefix[, start [,end]])
# Return true if s starts with the speicified prefix
# else returns flase.
# with optimal start test s begining at that position.
# with optimal end , stop comparing s at that position

st='hello world'
st.startswith('e')

False

In [20]:
st= 'hello world krishna'
st.startswith('krishna',12)

True

In [24]:
st= 'hello world krishna'
st.startswith('krishna',12,19)

True

In [25]:
st='Hello'
st.startswith('he') # because h and H have different ASCII values

False

In [26]:
# multiple functions can be embedded together as shown here.
# but both functions must return string values.
st='Hello'
st.lower().startswith('he') # alternate method

True

In [2]:
st='Hello'
st.find('H').startswith('he') # since find() function returns number value and startswith returns string values. 
                            # so embedding these two functions will results in error as shown.

AttributeError: 'int' object has no attribute 'startswith'

In [33]:
# Count() function --> to find the frequency (no.of times given substring is there inside the st) of a substring inside a string
st ='hello how are you? how about you?'
st1= st.count('you') # substring must be given
print(st1)

2

In [48]:
text ='to find the frequency no.of times given substring is there inside the st of a substring inside a string'
def count_string(text):
    bow = text.split(' ')
    pp = {}
    for i in bow:
        pp[i] = pp.get(i,0)+1
    return pp

In [51]:
import pandas as pd
pd.DataFrame(pp,columns = ['text','count'])

         text  count
0          to      1
1        find      1
2         the      2
3   frequency      1
4       no.of      1
5       times      1
6       given      1
7   substring      2
8          is      1
9       there      1
10     inside      2
11        the      2
12         st      1
13         of      1
14          a      2
15  substring      2
16     inside      2
17          a      2
18     string      1

In [41]:
st.count('how',3,30)  # count(str[,start position[,end position]])

2

In [9]:
str1 ='hello'
print(str1[:-4])

h

In [2]:
str1='programming'
print('str[5:-2]',str1[5:-2])

str[5:-2] ammi

In [3]:
# question 1 palindorme
st = str(input('enter a string'))
if(st[::-1].lower() == st.lower()):
    print('the given string is palindrome')
else:
    print('not a palindrome')

enter a stringmalayalam
the given string is palindrome

In [20]:
# question 3     

st1 = str(input("enter a string: "))
st2= st1.replace(" ","")  # removes all the white spaces in between strings 
print(st2)

enter a string: krishna kumar
krishnakumar

In [4]:
#question 4
st =str(input("enter a string: "))
for i in range (1,len(st),2):
        print(st[i-1])

enter a string: krishna
k
i
h

In [1]:
# question 5
st = str(input("enter a string: "))
n=len(st)
#st1= str(input("enter a replacement string: "))
#st2 =st.replace(st,st1)
#print(st2)
#st3 = st2[1:len(st2)-1]
#st4 = st2[len(st2)-1]
#st5 = st2[len(st2)-len(st2)]
new_str=st[n-1]+st[1:n-1]+st[0]
print(new_str)

enter a string: krishna
arishnk

In [87]:
# question 2
st= str(input('Enter a string: '))
l=len(st)

if (l<=2):
    print(st)
else:
    st1 = st[0:2]+st[l-2:l]
    print(st1)

Enter a string: hello
helo

## LIST

In [33]:
l = input().split()

for i,j in enumerate(l):
    print((i,int(j)))

1 2 3 4
(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [3]:
def sos1(n):
    if n <0:
        return 0
    for i in range(1,n+1):
        for j in range(1,i+1):
            if(i**2 + j**2 == n):
                print('{}**2'.format(i),'{}**2'.format(j))
                return True
            else:
                False
n = int(input())
if(sos1(n)):
    print('yes')
else:
    print('no')

41
5**2 4**2
yes

- List is an ordered sequence of values
- it is a data structure in python
- values inside the list can be of any data type including another list

In [8]:
ls1=[] #empty list

In [9]:
print(type(ls1))

<class 'list'>

In [10]:
ls2=[10,20,-4,12]
print(ls2)
print('type of list :', type(ls2))

[10, 20, -4, 12]
type of list : <class 'list'>

In [11]:
ls3 =[3.5,4,'hi',[10,'hello']]
print(ls3[2])

hi

In [14]:
print(ls3)  # print all the elements of list

[3.5, 4, 'hi', [10, 'hello']]

In [21]:
print(ls3[0]) # print first element

3.5

In [16]:
print(ls3[1])  # print second element

4

In [17]:
print(ls3[2])  # print third element

hi

In [19]:
print(ls3[3])   # print forth element

[10, 'hello']

In [20]:
 print(ls3[3][0])     # print first element of inner list ([10,'hello]')

10

In [13]:
ls3 =[3.5,4,'hi',[10,'hello']]  # print 2nd element [hi] first character and 2nd character of string 'hello' of inner list 
print(ls3[2][0],ls3[3][1][1])

h e

In [23]:
# More operations

ls = list(range(1,11))
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
ls =list(range(1,20,2))
print(ls)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [28]:
# Concatenation of lists using +
ls1 =[1,2,3,4]
ls2 =['hello',10]
ls3 =ls2+ls1
print(ls3)

['hello', 10, 1, 2, 3, 4]

In [30]:
#repetion using *
ls=[1,2,3]
ls1 = ls*3
print(ls1)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [32]:
x = int(input("enter a number: "))
ls=[]
for i in range(1,11):
    ls=ls+ [x*i]
print(ls)

enter a number: 3
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [4]:
x = int(input("enter a number: "))
ls=[("{} x {}".format(x,i),x*i) for i in range(1,11)]
ls

enter a number: 34

[('34 x 1', 34),
 ('34 x 2', 68),
 ('34 x 3', 102),
 ('34 x 4', 136),
 ('34 x 5', 170),
 ('34 x 6', 204),
 ('34 x 7', 238),
 ('34 x 8', 272),
 ('34 x 9', 306),
 ('34 x 10', 340)]

In [46]:
# List slicing

t= ['a','b','c','d','e']
print(t[2:4])
print(t[:3])
print(t[1:])
print(t[:])
print(t[:-2])
print(t[::-1])

['c', 'd']
['a', 'b', 'c']
['b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c']
['e', 'd', 'c', 'b', 'a']

In [48]:
#list are mutable

t= ['a','b','c','d','e']
t[3] = 10
print(t)

['a', 'b', 'c', 10, 'e']

In [49]:
t= ['a','b','c','d','e']  #multiple list assignments
t[1:3] =[10,20]
print(t)

['a', 10, 20, 'd', 'e']

In [88]:
ls =[10,20,'hello',34]   # Using for loop in list
for i in ls:
    print(i)

10
20
hello
34

In [94]:
ls =[10,20,'hello',34]
for i in range(len(ls)):
    print(ls[i])

10
20
hello
34

In [95]:
# List operations 
# append
# extend

In [97]:
# Append list --> will add the new element at the end of list
ls =[10,20,'hello',34]
x= ls.append(45)
print(ls)
print (x)

[10, 20, 'hello', 34, 45]
None

In [98]:
# Extend list--> extend fuction will add the new elements to its own list as individual element
# ls.extend(ls1) and ls1.extend(ls) will return different result
ls =[10,20,'hello',34]
ls1 = ['hi',101]
ls1.extend(ls)
print(ls1)

['hi', 101, 10, 20, 'hello', 34]

In [99]:
# append list --> when appending two or more list , append will add the new list as list but not treat it as individual elements 
ls =[10,20,'hello',34]
ls1 = ['hi',101]
ls1.append(ls)
print(ls1)

['hi', 101, [10, 20, 'hello', 34]]