In [1]:
# Lists continuation
# sort function
# normal sort
ls= [12,13,14,15,-10]
ls.sort()
print(ls)

[-10, 12, 13, 14, 15]

In [18]:
# descending order
ls= [12,13,14,15,-10]
ls.sort(reverse=True)
#ls1=sorted(ls)
print(ls)

[15, 14, 13, 12, -10]

In [19]:
ls=[3,4,1,2]
#ls.reverse()
ls1=ls[::-1]
ls1

[2, 1, 4, 3]

In [57]:
# Sorting lis without modifying original object
ls= [12,13,14,15,-10,13]
ls1= sorted(ls)      # does not change the original list values
print('original list:', ls)
print('sorted list : ', ls1)

original list: [12, 13, 14, 15, -10, 13]
sorted list :  [-10, 12, 13, 13, 14, 15]

In [30]:
#Sorted with with desecending
ls= [12,13,14,15,-10,13]
ls2= sorted(ls,reverse=True)      # does not change the original list values
print('original list:', ls)
print('ascending list : ', ls1)
print('descending list :',ls2)

original list: [12, 13, 14, 15, -10, 13]
ascending list :  [-10, 12, 13, 13, 14, 15]
descending list : [15, 14, 13, 13, 12, -10]

In [31]:
# reverse a list
ls =[10,-5,4,2,11]
ls.reverse()
print(ls)

[11, 2, 4, -5, 10]

In [33]:
# Deleting elements form the list based on index
ls= [12,13,14,15,-10,'hi']
x =ls.pop()  # last element will popped up from the list
print("popped element from the list",x)
print(ls)

popped element from the list hi
[12, 13, 14, 15, -10]

In [37]:
# given index element is popped from the list
ls= [12,13,14,15,-10,'hi']
x =ls.pop(3)  
print("popped element from the list :",x)
print(ls)

popped element from the list : 15
[12, 13, 14, -10, 'hi']

In [39]:
# delete a required element using remove()
# ls.remove() performs search and delete opeartions to remove the element from the list
# if the element that has to be removed is not present in the list, then remove () will return error

ls= [12,13,14,15,-10,'hi']
x =ls.remove(3)    # not index , but the value itself from the list
print("popped element from the list :",x) # remove() function modifies the ls itself, so storing (x= ls.remove()) the modified list will return none
print(ls)

ValueError: list.remove(x): x not in list

In [40]:
ls= [12,13,14,15,-10,'hi']
ls.remove(14)    # not index , but the value itself from the list
print(ls)

popped element from the list : None
[12, 13, 15, -10, 'hi']

In [43]:
# del[starting index : ending index] 
# del[] is not a function, but kind of slicing statement similar to string or list slicing

ls= [12,13,14,15,-10,'hi']
del ls[1:3]    # in del[1:4]  are the indices which represents position of the elements within the list
del ls[0]      # deletes the element present in 0th position (12)
print(ls)

[15, -10, 'hi']

In [42]:
# clear() function clears the entrie list
ls= [12,13,14,15,-10,'hi']
ls.clear()    
print(ls)

[]

In [50]:
# counting the no.of occurrences of elements in list
ls= [12,13,14,15,-10,'hi',13]
x= ls.count(13)  # returns a value known as frequency or count
print(x)

2

In [58]:
#inserting single element at a required position
ls= [12,13,14,15,-10,'hi']   
ls.insert(3,16)
print(ls)

[12, 13, 14, 16, 15, -10, 'hi']

In [54]:
#inserting single element at a required position
ls= [12,13,14,15,-10,'hi']   
ls.insert(3,16)
ls1=sorted(ls)           # cannot sort list containing both str ad numbers
print(ls1)

TypeError: '<' not supported between instances of 'str' and 'int'

## Lists and strings

In [59]:
# Converting a string into list of characters

s= 'hello'
ls= list(s)
print(ls)

['h', 'e', 'l', 'l', 'o']

In [65]:
# Getting lsit of strings starting form a sentence

s= 'hello how are you?'
ls= s.split(' ')

print(ls)

['hello', 'how', 'are', 'you?']

In [61]:
#Example: splitting a date into dd, mm, yyyy
d ='30/07/2019'
ls =d.split('/')
print(ls)

['30', '07', '2019']

In [62]:
ls =['hi','krishna', 'how', 'are','you?']
s =' '
s.join(ls)   # joins the list of strings together

'hi krishna how are you?'

## Assignments

In [32]:
# Assignments continuation
# Question 1
l = input('enter a phrase :')
for word in l.split(' '):
    if(word == word[::-1]):
        print('palindrome words are: ', word)

enter a phrase :how is the malayalam movie?
palindrome words are:  malayalam

In [35]:
# Question 1 using list
line = input('enter a phrase: ')
ls =line.split(' ')
print(ls)
print('all palindrome words are: ')
for word in ls:
    if word==word[::-1]:
        if len(word)<1:
            print('no words')
        else:
            print(word)

enter a phrase: uduudu is bird with stupid okko face
['uduudu', 'is', 'bird', 'with', 'stupid', 'okko', 'face', '']
all palindrome words are:
uduudu
okko
no words

In [42]:
# Question 2 

line = input('enter a phrase: ')
ls = line.split(' ')
print(ls)
for word in ls:
    if(len(word)<=2):
        print(word)
    else: 
        print(word[0:2]+word[-2:0])

enter a phrase: dodo is fine
['dodo', 'is', 'fine']
do
is
fi

In [43]:
# Question 4 
s = input('enter a string:')
s1 =s[0::2]
print(s1)

enter a string:hello world
hlowrd

In [45]:
# Question 5
s = input('enter a string: ')
s1 = s[-1]+s[1:-1]+s[0]
print(s1)

enter a string: hello
oellh

In [47]:
# Question 8

st ="From chetanahegde@ieee.org wed feb 21: 09:14:16 2018"
atpos=st.find('@')
print('position of @ is:',atpos)
spacepos = st.find(' ',atpos)
print('space position after @ is', spacepos)
domain = st[atpos+1:spacepos]
print(domain)

position of @ is: 17
space position after @ is 26
ieee.org

In [1]:
st = str(input('Enter the mail id :'))
atpos=st.find('@')
print('position of : is:',atpos)
spacepos = st.find(' ',atpos)
print('space position after @ is', spacepos)
domain = st[atpos+1:spacepos]
print(domain)

Enter the mail id :kkrishna@gmail.com wed feb 05 09:08:34 2019
position of : is: 8
space position after @ is 18
gmail.com

In [2]:
# Assignment

def mystery(m):
    for i in range (len(m),1,-2):
        m = m[1:]+ m[0]
    return(m)

mstr= 'siruseri'
mstr= mystery(mstr)

In [6]:
# same value assigned to two different vairables will have same address (dynamic memory allocation)
x = 1
y = 1
a = 11
b = 30
print (id(x))
print (id(y))
print (id(a))
print (id(b))

140712272761664
140712272761664
140712272761984
140712272762592

In [6]:
# write a python function rotatelist(ls,k) that takes a list ls  and a positive integer k ad reutrns the list ls after k rotations.
#if k is not positive, your function should return ls unchanged. Note that your function should not change ls itself and should return the rotateed list.

ls = list(int(x) for x in input().split())
k = int(input('enter rotation:'))
l=len(ls)
if (k<=0):
    print(ls)
else:   
    while k >0:
        ls=ls[1:l]+[ls[0]]
        k=k-1
    print(ls)

12 11 13 15 16 14 17
enter rotation:3
[15, 16, 14, 17, 12, 11, 13]

In [5]:
ls = [1,2,3,4,5,6]
k = int(input('enter rotation:'))
def lsrot(ls): 
    if (k<0):
        if(len(ls)<=2):
            return(ls)
    else:
         return(lsrot(ls[1:]) + [ls[0]])
         print (lsrot(ls))

enter rotation:2

In [49]:
# define a python function ascending (ls) that returns True if each elements in its input list is at least as big as the one before it.
# for empty list , it should be True.
ls = [i for i in input().split()]
s_ls = sorted(ls)
if(ls == list() or s_ls>s_ls[:-1]):
    print(s_ls)
    print('true')
else:
    print('False')

11,1,3,6,2,4
['11,1,3,6,2,4']
true

In [46]:
ls = [11,1,3,6,2,4]
s = sorted(ls)
n = []
x = len(s)
i = 0
while i<x-1:
    if s[i]<s[i+1]:
        print('true')
       
    else: 
        n.append('False')
    i = i+1

true
true
true
true
true

[]

7

## Demonstration of simple tuples

In [21]:
 t =()          # simple tuple ()
print(t)

()

In [22]:
t1 = tuple()         # finding class type
print(type(tuple()))

<class 'tuple'>

In [32]:
# paranthesis is not mandatory
t= 1,12,3,4     # we can create tuple by either using this method or using the one with paranthesis
print(t)

(1, 12, 3, 4)

In [24]:
t = (1, 12,3,4)  # tuples enclosed by paranthesis
print(t)

(1, 12, 3, 4)

In [25]:
t= (12,13, 'hello', 34, -5)
print(t)

(12, 13, 'hello', 34, -5)

In [31]:
# create tuple with single element
t =(2,)
print(type(t))

<class 'tuple'>

In [30]:
t =(2) # it will be considered as integer , not a tuple
print(type(t))

<class 'int'>

In [38]:
# create=ing tuple using string
s= 'hello'
t= tuple(s)
print(t)

('h', 'e', 'l', 'l', 'o')

In [39]:
# creating a tuple using a list
ls = [1,2,3,4,[5,6],'hi']
t = tuple(ls)
print (t)

(1, 2, 3, 4, [5, 6], 'hi')

In [40]:
# creating a tuple from another tuple
t1 = 1,2,3,4
print('t1 is', t1)
print('id is', id(t1))
t2 = tuple(t1)
print ('t2 is', t2)
print ('id of t2 is', id(t2))  # creates just a reference to existing object

t1 is (1, 2, 3, 4)
id is 2957909974216
t2 is (1, 2, 3, 4)
id of t2 is 2957909974216

In [1]:
# Indexing and slicing on tuples
t= 'mango','banana', 'apple'
print(t[1])

banana

In [2]:
print(t[1:])

('banana', 'apple')

In [3]:
print(t[:-1])

('mango', 'banana')

In [4]:
# As tuples are immutable , one alter its contents
# instead, we can slice and create new tuple

t= 'mango','banana', 'apple'
t[0] = 'pappaya'    # Error! item assignment is not allowed
print(t)

TypeError: 'tuple' object does not support item assignment

## Assignment of tuples

In [10]:
x,y =10,20 
print(x)
print(y)

10
20

In [12]:
# assingn list to tuples

ls=[3,4]
x,y =ls
print(x)
print(y)

3
4

In [14]:
# Swapping of two numbers
a= 10
b= 20
a,b = b,a
print(a,b)

c= 'hi'
d ='hello'
c,d =d,c
print(c,d)

20 10
hello hi

In [15]:
# Excess value assignment
x,y = 10,20 ,30   # error

ValueError: too many values to unpack (expected 2)

In [16]:
# less number of values
x,y,z = 10,20     # error

ValueError: not enough values to unpack (expected 3, got 2)

In [10]:
# Extract user name and domain name form email ID

email='krishna@gmail.com'
username,domainname=email.split('@')
print(username)
print(domainname)

krishna
gmail.com

In [11]:
email='krishna@gmail.com'
a = email.find('@')
print(email[0:a])
print(email[a+1:])

krishna
gmail.com

In [18]:
email = str(input('enter input: '))
ls = email.split('@')
print(ls[0],ls[1], sep='\n')

enter input: kk@gmail.com
kk
gmail.com

## List Comprehension

In [24]:
ls = [i for i in range (20)]
print(ls)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [53]:
ls = [i for i in range (20) if i%2==1] # adding odd numbers to the list
ls1 =[i for i in range (20) if i%2==0] # adding even numbers to the list
print(ls1)
print(ls)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [66]:
ls = [i for i in range(20)]
print(ls)
ls1 = ['even' if i%2==0 else 'odd'for i in range(20)]
print(ls1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [27]:
# more elaborative way to add elements to list

ls=[]
for i in range (10):
    ls.append(i)
print(ls)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
ls=[]
for i in range (0,10,2):
    ls.append(i)
print(ls)

[0, 2, 4, 6, 8]

In [37]:
# What is the value of triples after the folowing assignment?

triples = [( x,y,z) for x in range (1,4) for y in range(x,4) for z in range(y,4) if x+y <=z]
print (triples)

[(1, 1, 2), (1, 1, 3), (1, 2, 3)]

In [38]:
triples=[]
for x in range (1,4):
    for y in range(x,4):
        for z in range(y,4):
            if x+y <=z:
                triples.append((x,y,z))
print(triples)

[(1, 1, 2), (1, 1, 3), (1, 2, 3)]

In [ ]:
# pop() will remove last element from the lsit. even the element is inner list.